/* Untuk Tablet */
@media all and (max-width: 1000px) {
  
  .top-wrapper h1 {
    font-size: 30x;
  }

  
	.lesson{
		width: 50%;
	}
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {

  .btn {
    width: 100%;
  }
  
  .facebook {
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    text-align: center;
  }

  

  .top-wrapper h1 {
    font-size: 40px;
  }
  
  .top-wrapper p {
    font-size: 22px;
  }
  
	.lesson{
		width: 100%;
	}
	.lesson p{
		font-size: 60px;
	}
  span.menu-icon {
        display: block;
    }

    .header-content {
        display: none;
    }

    footer {
        text-align: center;
    }
}
