* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://raw.githubusercontent.com/tiffaniall/fga_image/main/bg.jpg);
  background-size: contain;
  color: #00380f;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.9;
  font-size: 60px;
  letter-spacing: 8px;
  margin-bottom: 2px;
  padding-bottom: 5px;
  font-weight: normal;
}

.top-wrapper p {
  opacity: 0.9;
  margin-bottom: 7px;
  color: #00380f;
  font-weight: normal;
  line-height: 30px;
  font-size: 20px;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 8px;
}

.btn:hover {
  opacity: 1;
}

.signup {
  background-color: #eefffa;
  color: #00380f;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

/* Gantikan margin-right milik fa ke 5px */
.fa {
  margin-right: 5px;
}

input,
textarea {
  width: 500px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

.contact-submit {
  background-color: #dee7ec;
  color: #889eab;
}

.lesson-wrapper {
  padding-bottom: 80px;
  background-color: #1baa78;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #c3ffdc;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
  padding-bottom: 50px;
}

.lesson-icon {
  position: relative;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 300px;
  }
}

.lesson-icon img {
  opacity: 0.6;
  width: 150px;
  height: 150px;
  border-radius: 30px;
}

.lesson-icon p {
  position: absolute;
  font-weight: bold;
  font-size: 25px;
  top: 30px;
  width: 100%;
  color: #ffffff;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
  border-radius: 30px;
}

.message:active {
  position: relaatives;
  top: 7px;
  box-shadow: none;
}

.contact-form {
  background-color: #5ee2a0;
  height: 600px;
  padding-top: 20px;
  text-align: center;
}


li {
  list-style: none;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

header {
    width: 100%;
    height: 65px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 13%);
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo {
    width: 124px;
    margin: 10px 0;
    float: left;
}

a.content {
    line-height: 65px;
    padding: 0 25px;
    color: #474747;
    display: block;
    float: left;
    transition: all 0.5s;
}

a.content:hover {
    background-color: rgb(28, 240, 28, 0.3);
}

.header-right {
    float: right;
    height: 35px;
    width: auto;
    margin: 15px;
    background-color: rgb(13, 224, 108);
    border-radius: 20px;
}
.header-right a {
    line-height: 35px;
    padding: 0 20px;
    color: white;
    display: inline-block;
    font-weight: 600;
}

.header-right:hover {
    background-color: rgb(13, 221, 134, 0.8);
    transition: all 0.5s;
}

.header-right:active {
    background-color: rgb(12, 196, 94);
}

span.menu-icon {
    color: #474747;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
}

footer img {
    width: 124px;
}

footer p {
    color: #b3aeb5;
    font-size: 12px;
}

footer {
    padding-top: 30px;
    padding-bottom: 20px;
}
